*.pyc
*.jpg
wandb/
*.png
*.pt
*.pkl
*.out
experiments/*
saved_datasets/
edm2/
*.txt
stable-diffusion/
*.ckpt
*.sbatch
/data
/vae_cifar
/preprocessed_*
/pre_processed_coco
/preprocessed_mscoco
prepocessed_mscoco_uvit
*.npy
/coco_2017
/coco
batch.sh
*.npz
/preprocessed_mscoco_2014
/captioning
*.json
/coco*
latent_cifar_100_2/